{
  "bracketSameLine": false,
  "useTabs": false,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "semi": true
}
